# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
*.pyc
dist
build

# My configurations:
.idea/
venv/Test/
Test/
*.pyc
*.cpython-36.pyc
*/__pycache__/*
*/__pycache__/
venv/Lib/*
test_may/
test_july/
test_nov/
